img {
    width: 180vh;
    max-height: 80vh;
    display: block;
    margin: 0 auto;
    
    
}
section{
    margin: 20px;
    padding: 20px;
    font-size: 20px;
}
body{
    background-color: rgb(106, 104, 104);
}

h1{
    color: rgb(9, 11, 11);
}